@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
@font-face {
  font-family: theinhardt;
  src: url('../../../assets/fonts/TheinhardtPan-Regular.otf') format("opentype");
}

.container {
    background:black;
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    overflow-y: scroll;
    
    .imagetext {
        display: flex;
        width: 70%;
        margin: 0 auto;
        text-align: justify;
        padding-top: 8rem;
    }
    
    .portrait {
        position: relative;
        width: 300px;
    }

    .box {
        width: 80%;
        margin-left: 3rem;
        
        .text {
            margin-left: 0.6rem;
        }

        .buttons {
            position: absolute;
            margin: 0 auto;
            padding-top: 4rem;
            display: flex;
            .resume {
              padding-left: 1.5rem;
            }
            .social-links {
              position: absolute;
              left: 23.5rem;
              border-radius: 50%;
              padding-top: 0.15rem;
            }
        }
    }
      
    .portrait img {
        width: 100%;
        height: 100%;
    }
    
    h1 {
        font-family: 'Lato';
        color: #fff;
        font-size: 30px;
    }
    
    p {
        font-family: 'theinhardt';
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
    }
}

@media (max-width: 1024px) {
  .imagetext {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 5rem !important;
  }

  .portrait {
    margin: 0 auto;
    width: 200px !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  .box {
    width: 100% !important;
    flex-direction: column;
    margin: 0 auto !important;
    text-align: center !important;
    display: block !important;
    
    .text, title {
      margin: 0 auto !important;
      text-align: center !important;
    }

    .buttons {
        width: 200px !important;
        position: relative !important;
        margin: 0 auto !important;
        padding-right: 1rem !important;
        padding-top: 2rem !important;
        flex-direction: column !important;

        .resume {
          margin-right: auto !important;
          padding-left: 1.5rem;
        }
        .social-links {
          width: 100% !important;
          position: relative !important;
          left: 0 !important;
          border-radius: 20% !important;
          padding-top: 2rem !important;
          padding-bottom: 3rem !important;
          display: inline-block !important;
        }
    }
    ul li span {
      background: black;
    }

    ul li:hover span {
      background: black;
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  background: #00071c;
}

ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
}

ul li {
  position: relative;
  list-style: none;
  width: 50px !important;
  height: 50px !important;
  margin: 0 15px;
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  border-radius: 50%;
}

ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

ul li:hover span:nth-child(5) {
  transform: translate(5px, -5px);
  opacity: 1;
}
ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}

ul li:nth-child(1):hover span {
  background: #3b5998;
}

ul li:nth-child(2):hover span {
  background: #00acee;
}

ul li:nth-child(3):hover span {
  background: #F56040;
}

ul li:nth-child(4):hover span {
  background: #0e76a8;
}

#testbutton {
  width: 150px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor:pointer;
  line-height:12px;
  font-weight: 300;
  font-family: 'Lato';
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#testbutton:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

#testbutton:after {
  content:'Resume';
  text-align:center;
  font-family: 'Lato';
  line-height:40px;
  font-size:15px;
  color:rgba(235,235,235,1);
  // font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
  background-color:rgb(19, 20, 22);
}