<app-header></app-header>
<app-background></app-background>
<div class="container">
    <div class="imagetext">
        <div class="portrait">
            <img src="assets/img/headshot.JPG" />
        </div>
        <div class="box">
            <div class="text">
                <div class="title">
                    <span class="block"></span>
                    <h1>About Me<span></span></h1>
                </div>
                <div class="role">
                    <div class="block"></div>
                    <p class="p">{{ intro }}</p>
                </div>
                <div class="interests">
                    <div class="block"></div>
                    <p class="p">{{ interests }}</p>
                </div>
            </div>
            <div class="buttons">
                <a class="resume mr-0 ml-auto" id="testbutton" href="assets/resume.pdf"></a>
                <div class="social-links" style="float:right;">
                    <ul>
                        <li>
                          <a href="https://www.nytimes.com/2018/11/15/technology/jobs-facebook-computer-science-students.html">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="fa fa-facebook"></span>
                          </a>
                        </li>
                        <li>
                          <a href="https://twitter.com/nikyarora41">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="fa fa-twitter"></span>
                          </a>
                        </li>
                        <li>
                          <a href="https://www.instagram.com/nikyarora/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="fa fa-instagram"></span>
                          </a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/in/nikhararora/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="fa fa-linkedin"></span>
                          </a>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
