<app-header></app-header>   
<app-background></app-background>
<div class="container">
    <div class="title">
        <h2 class="title-color">Photography<span></span></h2>
    </div>
    <div class="image-container">
        <div>
            <nav>
                <a role="button" (click)="onLandscapeClick()">Landscape</a>
                <a role="button" (click)="onWildlifeClick()">Wildlife</a>
                <a role="button" (click)="onPortraitClick()">Portrait</a>
                <div id="indicator"></div>
            </nav>
        </div>
        <div class="images" *ngIf="landscape">
            <gallery
                [flexBorderSize]="20" 
                [flexImageSize]="9"
                [galleryName]="'landscape'" 
                [maxRowsPerPage]="100">
            </gallery>
        </div>
        <div class="images" *ngIf="wildlife">
            <gallery
                [flexBorderSize]="20" 
                [flexImageSize]="7"
                [galleryName]="'wildlife'" 
                [maxRowsPerPage]="100">
            </gallery>
        </div>
        <div class="images" *ngIf="portrait">
            <gallery
                [flexBorderSize]="20" 
                [flexImageSize]="10"
                [galleryName]="'portrait'" 
                [maxRowsPerPage]="100">
            </gallery>
        </div>
    </div>
</div>
