<!-- <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="experience">Experience</a>
    </div>
  </div> -->
<div class="container">
    <div class="all">
        <div class="lefter" [routerLink]="['/about']"></div>
        <div class="left" [routerLink]="['/experience']"></div>
        <div class="center" routerLink=""></div>
        <div class="right" [routerLink]="['/projects']"></div>
        <div class="righter" [routerLink]="['/photography']"></div>
    </div>
</div>