<app-header></app-header>
<app-background></app-background>
<div class="container">
    <div id="timeline" class=timeline>
        <div class="title">
            <span class="block"></span>
            <h2 class="title-color">Experience<span></span></h2>
        </div>
        <div class="demo-card-wrapper">
            <div class="demo-card demo-card--step1">
                <div class="head">
                    <div class="logo">
                        <img src="assets/img/mckinsey.jpg" alt="Graphic">
                    </div>
                    <h2><span class="small">Summer Digital Analyst (Summer 2020)</span> McKinsey & Company</h2>
                </div>
                <div class="body">
                    <ul>
                        <li>Guided digital business strategy for a Fortune 500 client to decrease company operational costs by 15%</li>
                        <li>Guided Agile project management</li>
                        <li>Architected and developed .NET Web APIs and Angular PWAs</li>
                        <li>Responsible for Dev Ops, including automated testing, build/release pipelines</li>
                    </ul>
                </div>
            </div>
            <div class="demo-card demo-card--step2">
                <div class="head">
                    <div class="logo">
                        <img src="assets/img/mdb.png" alt="Graphic">
                    </div>
                    <h2><span class="small">President (Jan 2018-Present)</span> MDB</h2>
                </div>
                <div class="body">
                    <ul>
                        <li>Raised over $20,000 for the Mobile Developers of Berkeley by negotiating and managing mobile contracts</li>
                        <li>Instruct marketing and fundraising teams on new avenues for professional growth and club recognition</li>
                        <li>Increase website engagement by 50% in redesign</li>
                        <li>Plan, design, and develop iOS apps for UC Berkeley's premier mobile development incubator in 6-week intensive training program</li>
                    </ul>
                </div>
            </div>
    
            <div class="demo-card demo-card--step3">
                <div class="head">
                    <div class="logo">
                        <img src="assets/img/google.jpg" alt="Graphic">
                    </div>
                    <h2><span class="small">Software Engineering Intern (Summer 2019)</span> Google</h2>
                </div>
                <div class="body">
                    <ul>
                        <li>Increased recommendation model CTR by 1-3% daily by training new model, running model validation, and pushing to production daily</li>
                        <li>Migrated the Google News content recommendation and user engagements machine learning model into a TensorFlow Extended pipeline</li>
                        <li>Technologies: Python, TensorFlow, TensorFlow Extended (TFX), Deep Neural Networks</li>
                    </ul>
                </div>
            </div>
    
            <div class="demo-card demo-card--step4">
                <div class="head">
                    <div class="logo">
                        <img src="assets/img/google.jpg" alt="Graphic">
                    </div>
                    <h2><span class="small">Engineering Practicum Intern (Summer 2018)</span> Google</h2>
                </div>
                <div class="body">
                    <ul>
                        <li>Increased face detection speeds within Google Photos iOS by 14x through designing and implementing a single shot convolutional neural network on the GPU</li>
                        <li>Developed a testing framework in TensorFlow to compare results from mobile application</li>
                        <li>Technologies: Python, TensorFlow, C++, Objective C, Metal Performance Shaders, Convolutional Neural Networks</li>
                    </ul>
                </div>
            </div>
    
            <div class="demo-card demo-card--step5">
                <div class="head">
                    <div class="logo">
                        <img src="assets/img/ck12.png" alt="CK-12">
                    </div>
                    <h2><span class="small">Interactives Intern (Summer 2017)</span> CK-12 Foundation</h2>
                </div>
                <div class="body">
                    <ul>
                        <li>Build over 50 interactive learning resources for CK-12’s e-textbooks with animations, movable objects, graphs, buttons, scripted using Javascript with design components created using Adobe Illustrator and Photoshop</li>
                        <li>Developed content for subjects ranging Elementary Math, Algebra, and Calculus</li>
                        <li>Created free visual learning tools used by students and teachers nationally and internationally across 5 e-textbooks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>