<app-background></app-background>
<app-header></app-header>
<div class="container">
    <div class="title">
        <span class="block"></span>
        <h1>Projects<span></span></h1>
    </div>
    <div class="cards">
        <article class="card card--1">
          <div class="card__info-hover">
          </div>
          <div class="card__img"></div>
          <a target= "_blank" rel="noopener noreferrer" href="https://apps.apple.com/us/app/preserve-expiration-tracking/id1375271432" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category"> Preserve</span>
            <h3 class="card__title">Preserve incorporates OCR technology to scan grocery receipts and track food expiration dates.</h3>
            <span class="card__by">Swift • Xcode • Firebase • OCR</span>
          </div>
        </article>
        <article class="card card--2">
          <div class="card__info-hover">
          </div>
          <div class="card__img"></div>
          <a target= "_blank" rel="noopener noreferrer" href="https://devpost.com/software/chatitude" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category"> Chatitude</span>
            <h3 class="card__title">Chatitude is a sentiment analysis chat bot that is used in a customer service setting.</h3>
            <span class="card__by">Swift • Xcode • IBM Watson</span>
          </div>
        </article>
        <article class="card card--3">
          <div class="card__info-hover">
          </div>
          <div class="card__img"></div>
          <a target= "_blank" rel="noopener noreferrer" href="assets/RFNetworkLocalizationMethodforRoboticsRovers.pdf" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category"> RF Localization</span>
            <h3 class="card__title">Mobile network of nodes for real-time navigation of autonomous robotic rovers using RSSI signals.</h3>
            <span class="card__by">C++ • Python • UAV Navigation</span>
          </div>
          </article>
    </div>
    <div class="cards">
        <article class="card card--4">
          <div class="card__info-hover">
          </div>
          <div class="card__img"></div>
          <a target= "_blank" rel="noopener noreferrer" href="https://ewb.berkeley.edu/projects/panama-project/" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category"> Engineers Without Borders</span>
            <h3 class="card__title">Designed and mapped out a water distribution system for a Panama community.</h3>
            <span class="card__by">AutoCAD Inventor</span>
          </div>
        </article>
        <article class="card card--5">
          <div class="card__info-hover">
          </div>
          <div class="card__img"></div>
          <a target= "_blank" rel="noopener noreferrer" href="assets/FinalASRPaper.pdf" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category"> 3D Scanner + 3D Printer</span>
            <h3 class="card__title">Designed and programmed a fused filament fabrication 3D printer; Built a laser triangulation 3D scanner.</h3>
            <span class="card__by">AutoCAD Inventor • Arduino • C++ • PCL</span>
          </div>
        </article>
        <article class="card card--6">
          <div class="card__info-hover">
          </div>
          <div class="card__img"></div>
          <a target= "_blank" rel="noopener noreferrer" href="https://devpost.com/software/amsterdam" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Amsterdam</span>
            <h3 class="card__title">Amsterdam integrates third party transportation services with Google Maps to help people get places faster.</h3>
            <span class="card__by">Swift • Xcode • jQuery</span>
          </div>
        </article>
    </div>
</div>
